.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #282c34;
    padding: 20px;
    border: 2px solid white;
    text-align: center;
    color: white;
  }
  
  .popup h2 {
    margin-bottom: 10px;
  }
  
  .popup button {
    padding: 10px 20px;
    background: white;
    color: #282c34;
    border: none;
    cursor: pointer;
  }
  